body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: #333;
	color: white;
}
* {
	box-sizing: border-box;
}

#inputs {
	text-align: center;
	width: 100%;
}

.input {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 24%;
	padding: 0.5%;
}

.input .preview {
	background-color: black;
	aspect-ratio: 16/9;
	width: 100%;
}

.input .caption {
	font-size: 10px;
}

#status {
	position: absolute;
	top: 10px;
	right: 10px;
}
#status.connected {
	color: green;
}
#status.connecting {
	color: yellow;
}
#status.disconnected {
	color: red;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ddd;
		color: black;
	}
}
